@page "/AtivoLocal"
@using BackendApiBlazor.Data;
@using Newtonsoft.Json;
@using System.Net.Http;

<html>
<PageTitle>Empresas</PageTitle>
<h1>Empresas</h1>
<p>Listagem das empresas</p>

<body>
    <form>
        <div class="form-row">
        </div>
    </form>
</body>
</html>

@if (listaDeEmpresas == null)
{
    <p><em>Aguarde...</em></p>
}
else
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Descrição</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var linha in listaDeEmpresas)
            {
                <tr>
                    <td>@linha.Descricao</td>
                    <td>
                        <!-- Outros elementos de ação aqui -->
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private HttpClient Http = new HttpClient();
    private List<EntidadeModelo.ListarTodos> listaDeEmpresas;

    protected override async Task OnInitializedAsync()
    {
        string pesquisa = "";
        string apiUrl = $"https://localhost:7076/api/v1/AtivoLocal/ListarTodos?Descricao={pesquisa}";
        HttpResponseMessage response = await Http.GetAsync(apiUrl);

        if (response.IsSuccessStatusCode)
        {
            var content = await response.Content.ReadAsStringAsync();
            listaDeEmpresas = JsonConvert.DeserializeObject<List<EntidadeModelo.ListarTodos>>(content);
        }
        else
        {
            // Lidar com erros de resposta da API aqui
            listaDeEmpresas = new List<EntidadeModelo.ListarTodos>();
        }
    }
}


 